.hasDatepicker{ display: block; padding: 0; overflow: visible;  margin: 8px 0; max-width:340px }
.ui-datepicker {  overflow: visible; margin: 0;     background-color: white;  }
.ui-datepicker .ui-datepicker-header { position:relative; padding:.6em 0; border-bottom: 0; font-weight: bold; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { padding: 1px 0 1px 2px; position:absolute; top: .6em; margin-top: 0; text-indent: -9999px; }
.font-14 {font-size: 14px !important;}
.font-16 {font-size: 16px !important;}
.ui-datepicker .ui-datepicker-prev { left:9px; }
.ui-datepicker .ui-datepicker-next { right:2px; }
.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; }
.ui-datepicker .ui-datepicker-title select { font-size:1em; margin:1px 0; }
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month, 
.ui-datepicker select.ui-datepicker-year { width: 49%;}
.ui-datepicker table {width: 100%; border-collapse: collapse; margin:0; }
.ui-datepicker td { border-width: 1px; padding:0; text-align: center; }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: .2em 0; font-weight: bold; margin: 0; border-width: 0; text-align: center; text-decoration: none; }

.ui-datepicker-calendar th { padding-top: .4em; padding-bottom: .4em; }
.ui-datepicker-calendar th span, .ui-datepicker-calendar span.ui-state-default { opacity: .7; }
.ui-datepicker-calendar td a { padding:.6em .5em; }

.ui-listview>.ui-li-static, .ui-listview>.ui-li-divider, .ui-listview>li>a.ui-btn {
    white-space: normal !important;
}
.ui-listview>li p {
    white-space: normal !important;
}

.ui-header, .ui-footer {
    border-width: 0px 0 !important;
}

#content {
    position:absolute;
    top:40px;
    right:0;
    bottom:0;
    left:0;
}
.ui-loader-background {
    width:100%;
    height:100%;
    top:0;
    padding: 0;
    margin: 0;
    background: currentColor;
    display:none;
    position: fixed;
    z-index:100;
}

.ui-header.ui-fixed-hidden {
    position: fixed !important;
}

.ui-loading .ui-loader-background {
    display:block;
}

.ui-icon-shopcart:after {
    background-image: url("images/shopping-cart3.png");
}


.lbl_login{
    color: initial !important;
    font-weight: bold !important;
    font-size: x-large !important;
    /* font-family: arial; */
}

#txt_pass {
    -webkit-text-security: disc;
} 